<h2>Contacts</h2>
<form>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>e-mail: barber@shop.com </p>
  <p>Tel: 8665585464 </p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
</form>