<h2> Add new post</h2>

<p>

        <form action="/new" method="post">
          <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" name="content" placeholder="Type post text here"
                      style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</p>