<h1>Admin Panel</h1>

<form action="/admin" method="POST">
  Login:<br> <input type="text" name="aaa"><br>
  Password:<br> <input type="password" name="bbb"><br>

  <input type="submit">
</form>

<%= @report %>